/* * {
    color: white;
} */

.header_div {
    background-color: darkslategray;
    color: white;
    display: flex;
    justify-content: space-around;
}

.header_h2 {
    color: white;
}

.header_ul {
    list-style: none;
    display: flex;
    gap: 3em;
    justify-content: center;
    align-items: center;
}

.header_ul li {
    padding: .3em;

}

.header_ul li:hover {
    cursor: pointer;
    outline: 1px solid wheat;
}

.none {
    color: inherit;
    text-decoration: none;
}